﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucFilterAttributes.ascx.cs" Inherits="MyWeb.views.products.ucFilterAttributes" %>
<div class="box-fillter-attributes">
    <asp:Literal ID="ltrData" runat="server"></asp:Literal>
</div>